AI_GATEWAY_API_KEY=xxxxxxxxx
GROQ_API_KEY=gsk_xxxxxxxxxxx
GOOGLE_GENERATIVE_AI_API_KEY=xxxxxxxxxxxxx
REOWN_PROJECT_ID=xxxxxxxxxxxxxxxxx
REOWN_NETWORK=xxxxxxxx (e.g "testnet" | "mainnet")
MCP_SERVER_URL=xxxxxxxxxxxxxxxxxxxx (e.g "http://localhost:4021/mcp")